<h2>Timer</h2>

<p>{{ duration }}</p>
<button type="submit" class="btn btn-sm btn-default" {{action "start"}}>Start</button>
<button type="submit" class="btn btn-sm btn-default" {{action "stop"}}>Stop</button>
<button type="submit" class="btn btn-sm btn-default" {{action "stop" true}}>Reset</button>