<div class="jumbotron">
  <div class="container">
    <h1>LogBook</h1>
    <p>This simple application is designed to help you keep track of relevant... logs.</p>
  </div>
</div>

<div class="container">

  {{ timer-user-controls }}
  
  <hr>

  <footer>
    <p>© 2017</p>
  </footer>
</div> <!-- /container -->