<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
</div>

{{#each model as |entry|}}
    <article>
        <h3>{{ entry.createdAt }}</h3>
        <div class="detail">{{  format-datetime entry.elapsedTime "MM:SS.sss" }}</div>
    </article>
{{/each}}