<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
</div>

{{#each model as |time|}}
    <article>
        <h3>{{ time.timestamp }}</h3>
        <div class="detail">{{ time.elapsedTime }}</div>
    </article>
{{/each}}